@page "/Ideas"

<PageTitle>Идеи</PageTitle>

<h1 class="text-white">Инновационные идеи</h1>

<AuthorizeView>
    <Authorized>
        <IdeasFeed></IdeasFeed>
    </Authorized>
    <NotAuthorized>
        <p class="lead text-white">
            Для получения доступа к ленте идей необходимо пройти <a class="text-white" href="Identity/Account/Register">регистрацию</a> на платформе и в дальнейшем <a class="text-white" href="Identity/Account/Login">входить</a> каждый раз или пометить (поставить галочку «запомнить меня») чтобы платформа Вас запомнила и последующие входы происходили автоматически с данного устройства и браузера.
        </p>
        <p class="text-white">
            Для каждой идеи при публикации на платформе необходимо указать её заголовок, краткую аннотацию и подробное описание. Дополнительно можно сослаться на любые материалы в сети или загрузить их на платформу (изображения, электронные таблицы, документы, презентации).
        </p>
        <p class="text-white">
            Кроме того, можно отнести идею к одной из рекомендованных администрацией категорий (выбор из дерева категорий, которое формируется администрацией). Идее присваивается набор тэгов, который может быть сформирован автоматически на основании рекомендаций администрации.
        </p>
        <p class="text-white">
            Для завершения публикации идя проходит модерацию администрацией платформы и только после этого становится доступной сообществу платформы. В процессе модерации оценивается соблюдение формальных и законодательных требований к публичной информации и оценивается инновационность идеи, т.е. присваивается статус (инновационная, перспективная и т.п.).
        </p>
        <p class="text-white">
            При работе с лентой идей – статус, категории и тэги служат для фильтрации выводимых идей и сужения их объёма для вывода.
        </p>
        <p class="text-white">
            Идею публикует <a class="text-white" href="People">пользователь</a> – её автор. Он может включить и других авторов. Изменение содержания идеи может делать только её автор. Другие пользователи могут только оценивать идею лайком/дизлайком и проводить экспертизу, комментировать идею в формате форума по идее.
        </p>
        <p class="text-white">
            Авторы могут собирать команду профессионалов из числа пользователей платформы. Команда может реализовывать, как только данную идею, так и другие идеи. Могут собираться команды и не под конкретную идею, а для предложения своих услуг на рынке идей.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {

}
