@page "/People"

<PageTitle>Люди</PageTitle>

<h1 class="text-white">Люди для инноваций</h1>

<AuthorizeView>
    <Authorized>
        <UsersList></UsersList>
    </Authorized>
    <NotAuthorized>
        <p class="lead text-white">
            Сообщество платформы формируется из людей, которые пришли сюда, <a class="text-white" href="Identity/Account/Register">зарегистрировались</a> и заполнили свои <a class="text-white" href="Identity/Account/Manage">личные данные</a>.
        </p>
        <p class="text-white">
            У членов сообщества могут быть различные цели и возможности. Без регистрации на платформе доступны только эти информационные страницы. После регистрации пользователь получает соответствующую роль и может участвовать в полноценной жизни платформы. Это создание и публикация идей, дополнение их другими авторами, подбор и формирование команд, как для конкретной идеи, так и для предложения своих профессиональных услуг другим пользователям платформы.
        </p>
        <p class="text-white">
            Кроме того, каждый пользователь может проводить оценку идей платформы, оценку других пользователей, команд и самооценку (формирование своих компетенций). Оценка производится лайком/дизлайком и экспертизой идеи или других профессионалов (форум идей и профи).
        </p>
        <p class="text-white">
            Пользователь может сформировать команду, как под свою идею, так и независимо от конкретной идеи. Для упрощения этого платформа предлагает фильтрацию пользователей и команд по компетенциям.
        </p>
        <p class="text-white">
            Помимо обычных пользователей администрация платформы может указать пользователю роль администратора и включить его т.о. в состав администрации. При этом у него появляются дополнительные права и функции для их осуществления:<br />
            ● Просматривать профили пользователей;<br />
            ● Просматривать идеи пользователей;<br />
            ● Структурировать поступающие идеи;<br />
            ● Осуществлять ручной подбор пользователей в команды.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {

}
